@model MinakoNoTango.Models.TangoView

@{
    ViewBag.Title = "Mi vocabulario";
}

<article>
    <header>

        <h3>@ViewBag.Title</h3>
        @Html.ActionLink(linkText: "Agregar", actionName: "Add")

    </header>

    <ul>
        @{
            foreach (var entry in this.Model.Vocabulary)
            {
            <li>@entry</li>
            }
        }
    </ul>
</article>




