@model MinakoNoTango.Models.PhraseView

@{
    ViewBag.Title = "Detalle";
}

<fieldset>
    <legend>Detalle</legend>

    <!-- Expression -->
    <div class="display-label">
        @Html.DisplayFor(x => x.Expression)
    </div>

    <!-- Language -->
    <div class="display-field">
        @Html.DisplayFor(x => x.Language)
    </div>

    <!-- Author -->
    <div class="display-label">
        @Html.DisplayFor(x => x.Author)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Regresar", "Index")
</p>

