@model MinakoNoTangoLib.Library.Models.TeacherModel

<fieldset>
    <legend>Detalle</legend>

    <!-- Expression -->
    <div class="display-label">
        @Html.DisplayFor(x => x.ViewedExpression.Expression)
    </div>

    <!-- Language -->
    <div class="display-field">
        @Html.DisplayFor(x => x.ViewedExpression.Language)
    </div>

    <!-- Author -->
    <div class="display-label">
        @Html.DisplayFor(x => x.ViewedExpression.AuthorName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
